header{
    background-color: var(--amarillo);
    font-size: var(--cuerpo);
}

header img{
    width: 40%;
    margin: 20px 0px 10px 20px
}

header p{
    font-size: 16px;
    margin: 10px 0px;
    text-align: center;
    font-size: var(--cuerpo);
}

.buscador{
    margin-left: 10px;
}

.lupa{
    color: black;
}

div.burger-menu{
    text-align: center;
}

.burger{
    background-color: var(--celeste);
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: black;

}

header .barra-de-navegacion{
    margin-bottom: 10px;
}

@media (min-width: 361px) {
    header div .buscar{
        display: inline;
    }
    header nav ul{
        display: inline;
    }
    header nav{
        margin-left: 10px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    header .burger-menu{
        display: none;
    }
}
@media (min-width: 769px) {
    
}

@media (max-width: 360px){
    header nav ul{
        display: none;
    }
}