main{
    width: 90%;
    display: contents;
}

main h2{
    margin-left: 10px;
    margin-top: 10px;
}

.ultimavisita h2{
    font-size: var(--titulares);
    margin-bottom: 20px;
}

.ofertas h2{
    font-size: var(--titulares);
    margin-top: 20px;
    margin-bottom: 20px;
}

article .precio{
    font-size: var(--precios);
}

article .descuento{
    font-size: var(--descuentos-descripciones);
    color: var(--verde);
}

main article h4{
    font-size: var(--descuentos-descripciones);
    margin-top: 15px;
}

main i{
    font-size: 15px;
    padding: 5px;
    width: 25px;
    height: 25px;
    color: var(--verde);
    border: 1px solid var(--verde);
    border-radius: 50px;
}

@media (min-width: 361px) {
    main section article {
        box-shadow: 0 0 10px rgb(100, 100, 100);
        margin: 10px
    }
    main article div{
        border-top: 1px solid var(--gris-claro);
        background-color: white;
        padding: 15px;
    }
    main section article h4{
        color: var(--gris-oscuro);
    }
}

@media (min-width: 769px) {
    main section article {
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }
}

@media (max-width: 360px){
    main section article {
        margin: 10px;
    }
    main section article h4{
        display: none;
    }
    main article div{
        border-top: 1px solid var(--gris-claro);
        background-color: white;
        padding: 15px;
    }
}