main{
    width: 100%;
}

main section{
    width: 90%;
    margin: 0 auto;
}

main h2{
    margin-left: 10px;
    margin-top: 10px;
}

.ultimavisita h2{
    font-size: var(--titulares);
    margin-bottom: 20px;
}

.ofertas h2{
    font-size: var(--titulares);
    margin-top: 20px;
    margin-bottom: 20px;
}

main article{
    background-color: white;
}

article .precio{
    font-size: var(--precios);
    width: 30%;
}

article .descuento{
    font-size: var(--descuentos-descripciones);
    color: var(--verde);
    width: 70%
}

main article h4{
    font-size: var(--descuentos-descripciones);
    margin-top: 15px;
}

main section .descripcion i{
    position: absolute;
    right: 20px;
    top: -15px;
    font-size: 10px;
    color: var(--verde);
    background-color: white;
    border: 1px solid var(--verde);
    border-radius: 50%;
    display: block;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: block;
}


@media (min-width: 361px) {
    main h2{
        width: 100%;
    }
    main .descripcion{
        flex-wrap: wrap;
    }
    main article .precio{
        text-align: center;
    }
    main article .descuento{
        text-align: center;
    }
    main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main section article {
        box-shadow: 0 0 10px rgb(100, 100, 100);
        margin-bottom: 10px;
        width: 46%;
    }
    main article div{
        border-top: 1px solid var(--gris-claro);
        background-color: white;
        padding: 15px;
        display: flex;
        align-items: center;
        position: relative;
    }
    main section article h4{
        display: block;
        width: 100%;
        color: var(--gris-oscuro);
    }
    .banner{
        display: block;
    }
}

@media (min-width: 769px) {
    main section article{
        width: 22%; 
    }
}

@media (max-width: 360px){
    main section article {
        margin: 10px;
    }
    main section article h4{
        color: var(--gris-oscuro);
    }
    main .descripcion{
        flex-wrap: wrap;
    }
    main article div{
        border-top: 1px solid var(--gris-claro);
        background-color: white;
        padding: 15px;
        display: flex;
        align-items: center;
        position: relative;
    }
    .banner{
        display: none;
    }
}